@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body {
  font-family: 'Special Elite';
  text-align: center;
}
div{
  background-color: rgb(47,79,79);
  color: slategrey;
  width: 800px;
  height:1000px;
}
h1{
  font-size:70px;
  margin: 0px;
  font-family: 'Righteous', cursive;
  text-decoration: underline;
  padding-top:350px;
  padding-bottom:250px;
}
h2{
  font-size:30px;
  margin: 0px
}
h3{
  font-size:60px;
  margin: 0px;
  padding-bottom: 30px
}
